@model IEnumerable<WebApplicationThucHanh2.Models.TAnhSp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml"; // Sử dụng layout admin riêng
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ViTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSpNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ViTri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSpNavigation.MaSp)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaSp }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaSp }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaSp })
                </td>
            </tr>
        }
    </tbody>
</table>
